.DS_Store
.vscode/
.build/
.swiftpm/

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint
*.idea*

scripts/install/
scripts/build/
scripts/pcre*/
scripts/openssl*/
scripts/openssl*.tar.gz
scripts/libssh2*/
scripts/libssh2*.tar.gz
scripts/v*.zip
scripts/libgit2*/
scripts/Clibgit2/
scripts/Clibgit2.xcframework/
scripts/Clibgit2.xcframework.zip
scripts/libgit2.xcframework.zip
scripts/Temp/

